[ req ]
prompt                  = no
default_bits            = 4096
distinguished_name      = req_DN
string_mask             = nombstr

[ req_DN ]
countryName             = RE

stateOrProvinceName     = "Reunion"

localityName            = "epitech"

0.organizationName      = "Nicolas"

organizationalUnitName  = "epitech"

commonName              = "www.area.com"

emailAddress            = "nicolas.ah-leung@epitech.eu"
